/* TESTIMONIAL WIDGET */
.testimonial-widget{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.testimonial-image, .testimonial-text, .testimonial-title{
	margin-bottom: 30px;
}
/* TESTIMONIAL WIDGET */

/* AKVO COVER WIDGET */
.so-widget-akvo-cover{
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}

.so-widget-akvo-cover .lang-list{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 80px;
}

@media( max-width: 768px ){
	.so-widget-akvo-cover .lang-list{
		top: 20px;
	}
}

.so-widget-akvo-cover .lang-list a[href].active, .so-widget-akvo-cover .lang-list a[href]:hover{
	background: rgba(0, 0, 0, 0.3);
}

.so-widget-akvo-cover .cover-overlay{
	background: rgba( 0, 0, 0, 0.8);
	position: absolute;
	padding: 30px;
	bottom: 0;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
}
.so-widget-akvo-cover .cover-overlay-link{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	top: 0;
	left: 0;
}

/* AKVO COVER WIDGET */

/* LOGOS WIDGET */
.so-widget-logos ul{
	text-align: center;
}
.so-widget-logos li{
	margin: 5px;
	display: inline-block;
}
/* LOGOS WIDGET */